@charset "UTF-8";
body{
    color:rgba(55, 158, 254, 0.413);
    font-size:14px;
    font-family:serif;
}

h1{
    color:rgba(116, 183, 247, 0.459);
    font-size:1.5em;
    font-family:sans-serif;
}
h2{
    color:rgba(116, 183, 247, 0.459);
    font-size:1.2em;
    font-family:cursive;
}
p{
    color:rgba(43, 228, 228, 0.459);
    font-size:0.8em;
    font-family:cursive;
}